mat-grid-tile {
  background-color: #6f4ba480;
}

mat-card-subtitle {
  font-weight: 400;
  opacity: 80%;
  font-size: small;
}

.calendar-card {
  width: 100%;
  padding: 4rem;
  background-color: transparent;
}
