<main class="container py-4">
  <mat-card class="mat-elevation-z4 p-4">

    <mat-card-title class="mb-4">Resumo Geral</mat-card-title>

    <div class="d-flex justify-content-between gap-4">

      <!-- Categorias -->
      <mat-card class="mat-elevation-z2 flex-fill text-center p-3">
        <mat-card-header class="justify-content-between">
          <mat-card-title>Categorias</mat-card-title>
          <a
          mat-mini-fab
          matTooltip="Adicionar categoria"
          class="app-custom-button-color mat-elevation-z0"
            [routerLink]="['/categoria', 'cadastrar']">
            <mat-icon>add</mat-icon>
          </a>
        </mat-card-header>
        <h2>{{ categorias.length || 0 }}</h2>
      </mat-card>

      <!-- Compromissos -->
      <mat-card class="mat-elevation-z2 flex-fill text-center p-3">
        <mat-card-header class="justify-content-between">
          <mat-card-title>Compromissos</mat-card-title>
          <a
          mat-mini-fab
          matTooltip="Adicionar compromisso"
          class="app-custom-button-color mat-elevation-z0"
          [routerLink]="['/compromisso','cadastrar']">
            <mat-icon>add</mat-icon>
          </a>
        </mat-card-header>
        <h2>{{ compromissos.length || 0 }}</h2>
      </mat-card>

      <!-- Contatos -->
      <mat-card class="mat-elevation-z2 flex-fill text-center p-3">
        <mat-card-header class="justify-content-between">
          <mat-card-title>Tarefas</mat-card-title>
          <button
          mat-mini-fab
          matTooltip="Adicionar tarefa"
          class="app-custom-button-color mat-elevation-z0"
          [routerLink]="['/tarefa','cadastrar']">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-header>
        <h2>{{ tarefas.length || 0 }}</h2>
      </mat-card>

    </div>

  </mat-card>
</main>
