<mat-grid-tile-header class="justify-content-between">
  Categorias
  <a
    mat-mini-fab
    class="app-custom-button-color mat-elevation-z0"
    [routerLink]="['../categorias']"
    >
    <mat-icon>add</mat-icon>
  </a>
</mat-grid-tile-header>

<ng-container *ngIf="Categorias.length > 0; else empty">
  <h6>Última Categoria Cadastrada</h6>
  <a mat-list-item>
    <mat-icon matListItemIcon>label</mat-icon>
    {{ Categorias[Categorias.length - 1].titulo }}
  </a>
</ng-container>

<ng-template #empty>
  <div class="empty-list flex flex-col items-center text-gray-500 mt-3 text-muted">
    <span>Nenhuma categoria cadastrada</span>
  </div>
</ng-template>

<!-- Vai ter alteração aqui, esse foi o primeiro layout -->
