<main class="container my-5">
  <div class="row justify-content-center g-3 mt-2">
    <div class="col col-md-10 col-lg-6">
      <h1 class="display-3">Cadastro de tarefa</h1>
      <hr />
      <form [formGroup]="form" (submit)="cadastrar()">

        <mat-form-field class="w-100 mt-5" appearance="fill">
          <mat-label>Título da tarefa</mat-label>
          <input formControlName="titulo" autocomplete="off" matInput placeholder="Ex: Mercado" />
          <mat-icon matSuffix color="primary">category</mat-icon>
          <mat-error class="text-white" *ngIf="titulo?.invalid">
            <span *ngIf="titulo?.errors?.['required']">O titulo precisa ser preenchido.</span>
            <span *ngIf="titulo?.errors?.['minlength']">O titulo deve conter ao menos 3 caracteres.</span>
          </mat-error>
        </mat-form-field>

        <div class="row justify-content-end g-2 gap-2 mt-3">
          <button type="submit" mat-flat-button class="col-sm-4 app-custom-button-color">
            <mat-icon matIconPrefix>check</mat-icon>
            Confirmar
          </button>
          <a mat-button type="button" class="col-sm-4 app-custom-button-color" routerLink="/tarefa/listar">
            <mat-icon matIconPrefix>keyboard_return</mat-icon>
            Voltar
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
