
        <mat-grid-tile-header class="justify-content-between">
          Compromissos
          <button mat-mini-fab class="app-custom-button-color mat-elevation-z0 ">
            <mat-icon>add</mat-icon>
          </button>
        </mat-grid-tile-header>

        <mat-nav-list class="mt-5">
          @for (compromisso of Compromissos; track compromisso) {
          <a mat-list-item href="#" class="justify-content-between">
            <span>{{ compromisso.titulo }}</span>
            <span>{{ formatarData(compromisso.data) }}</span>

          </a>
          }
        </mat-nav-list>
